body {
   background:#CCCCFF;
   font-family:Time New Roman;
}




@-webkit-keyframes my {
 0% { color: #000000; } 
 50% { color: #fff;  } 
 100% { color: #000000;  } 
 }
 @-moz-keyframes my { 
 0% { color: #000000;  } 
 50% { color: #fff;  }
 100% { color: #000000;  } 
 }
 @-o-keyframes my { 
 0% { color: #000000; } 
 50% { color: #fff; } 
 100% { color: #000000;  } 
 }
 @keyframes my { 
 0% { color: #000000;  } 
 50% { color: #fff;  }
 100% { color: #000000;  } 
 } 
h1{
         
         font-size:45px;
         font-weight:bold;
        -webkit-animation: my 700ms infinite;
        -moz-animation: my 700ms infinite; 
        -o-animation: my 700ms infinite; 
        animation: my 700ms infinite;
}

h3{
  		
}
.content{
	font-family:Time New Roman;
	font-size:24px;
	background:#CCCCFF;
	float:left;
	width:70%;
}

.slidebar{
	float:right;
	width:26%;
	background:#CCCCFF;
	
}

.clear_all{
	clear:both;
}

