			#myModal {
				margin-top:5%;
			}
			#myModal .modal-content{
				background-image:url(../image/reg.jpg);

				background-repeat: no-repeat;
				background-position: center center;
			}
			#myModal .close {
				position:absolute;
				top:0%;
				left:96%;
			}
			#myModal .modal-content h3{
				color:red;
				font-family: "Roboto", Arial, sans-serif;
				font-weight : 900;
			}
			#myModal .modal-content p {
				color:red;
			}
			#myModal .main-color {
				color:red;
				font-weight : 900;
				font-family: "Roboto", Arial, sans-serif;
			}
			#myModal label {
				color:red;
			}
			#myModal .form-group label {
				font-weight : 900;
				font-family: "Roboto", Arial, sans-serif;
			}
			#myModal form .btn {
				width : 49.2%;
				background-color: red;
				font-size: 20px;
				font-weight: 500;
				color: #fff;
			}
			#myModal .khungcanh {
				margin-top:27%;
				color:red;
			}
