body{
      background:gray;
}

@-webkit-keyframes my {
 0% { color: #000000; } 
 50% { color: #fff;  } 
 100% { color: #000000;  } 
 }
 @-moz-keyframes my { 
 0% { color: #000000;  } 
 50% { color: #fff;  }
 100% { color: #000000;  } 
 }
 @-o-keyframes my { 
 0% { color: #000000; } 
 50% { color: #fff; } 
 100% { color: #000000;  } 
 }
 @keyframes my { 
 0% { color: #000000;  } 
 50% { color: #fff;  }
 100% { color: #000000;  } 
 } 
h1{
         text-align:center;  
         font-size:45px;
         font-weight:bold;
        -webkit-animation: my 700ms infinite;
        -moz-animation: my 700ms infinite; 
        -o-animation: my 700ms infinite; 
        animation: my 700ms infinite;
}