body{
	background:white;
	font-family:Arial;
	font-size:18px;
}

.content{
	font-size:px;
	background:white;
	float:left;
	
}
.trang{
	max-width:%
	margin:0 auto;
	display:block;
}
.slidebar{
	float:right;
	width:26%;
	background:white;
	
}
.clear_all{
	clear:both;
}



