body{
	font-family:Time New Roman;
	font-size:20px;
}

.content{
	font-size:px;
	background:white;
	float:left;
	
}
.slidebar{
	float:right;
	width:26%;
	background:white;
	
}
.clear_all{
	clear:both;
}
.nd1 {
	height : 304px;
	overflow-y: scroll;
}