*{
	
}
header{
	margin-left:-20%;
}
header.row{
	margin0;
}
section{
	text-align:justify;
}
.section1{
	background-image:url(image/hanoi.jpg);
	background-size:cover;
}

.training{
	background:#1B1B1B;
	color:#fff;
}
.training .container{
	padding-top:25px;
	padding-bottom:40px;
}
.training .container .col-md-6{
	padding-top:50px;
}
.training .container .col-md-6 h4{
	margin-top:30px;
}
#text{
	margin-top:20px;
	margin-bottom:20px;
}
.training .col-md-4{
	left:8.33333333%;
}
.cele{
	margin-top:50px;
}
.img-circle{
	border-radius:50%;
	border:4px solid #db2128;
}
.img{
	left:70px;
}
.cele-content{
	padding:80px 0px 15px 90px;
}
.cele-content h4{
	color: #db2128;
}